body { 
	background: #ececec;
	animation: fadeIn 3s;
	font-family: Helvetica;
}

@keyframes fadeIn{

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
		}
	}

.header{
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	background: linear-gradient(to right, #1cb5e0, #000046);
}

#font-forum{
	top: 12px;
	left: 40px;
	font-size: 22px;
	font-family: Rubik,Lato,lucida grande,lucida sans unicode,Tahoma,Sans-Serif;
	font-weight: bold;
	position: absolute;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

#font-forum:hover{
	background: -webkit-linear-gradient(to right, #e8a71c, #ff24e5);
	background: linear-gradient(to right, #e8a71c, #ff24e5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


#searchbox{
	top: 12px;
	left: 350px;
	width: 325px;
	height: 20px;
	position: absolute;
	outline: none;
	padding: 7px 40px 7px 15px;
	background-color: #efefef;
	font-family: Helvetica;
	border: solid 1px #efefef;
	border-radius: 20px 20px;
	transition: all 0.5s;
}

#searchbox:focus{
	background-color: white;
	border: solid 2px #0B8389;
	transition: all 0.5s;
}

#buttonCari{
	top: 15px;
	left: 745px;
	position: absolute;
}

.search button{
	background-color: #36a5f4;
	color: white;
	padding: 7px 15px;
	border-radius: 7px;
	margin: 0;
	border: none;
	cursor: pointer;
	font-family: inherit;
}

.search button:hover{
	background: linear-gradient(to right, #e8a71c, #ff24e5);
}

#img-User{
	width: auto;
	height: 50px;
	left: 965px;
	top: 6px;
	position: absolute;
	transition: opacity 0.2s ease;
}

#font-User{
	top: 12px;
	left: 1020px;
	font-size: 22px;
	font-family: Rubik,Lato,lucida grande,lucida sans unicode,Tahoma,Sans-Serif;
	font-weight: bold;
	position: absolute;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
#font-User:hover{
	background: -webkit-linear-gradient(to right, #e8a71c, #ff24e5);
	background: linear-gradient(to right, #e8a71c, #ff24e5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}

#daftar:hover{
	opacity: 0.8;
	animation: fadeIn 1s;
}

#logout{
	top: 12px;
	left: 1250px;
	height: 20px;
	width: 40px;
	position: absolute;
	font-size: 13px;
	font-family: "Montserrat",sans-serif;
	font-weight: bold;
	background-color: #244B9C;
	color: #fff;
	border: 2px solid #244B9C;
	padding: 6px 15px 4px 15px;
	border-radius: 20px;
	text-decoration: none;

	letter-spacing: -0.02em;
	display: inline-block;
	cursor: pointer;
}

#logout:hover{
	background: linear-gradient(to right, #e8a71c, #ff24e5);
	border: 2px solid #ff00c3;
}

.container{
	width: 1100px;
    margin: 0 auto;
    text-align: left;
    position: relative;
    z-index: 2;
}

.forum-bahasan{
	width: 100%;
	height: auto;
	text-align: center;
	background-color: #fff;
	padding-bottom: 8px;
	margin-bottom: 10px;
}

.forum-bahasan h2{
	background-color: #c7edeb;
	padding: 8px;
}

.forum-bahasan p{
	text-align: left;
	/*padding: 10px;*/
	padding-left: 10px;
	padding-right: 10px;
}

.input-comment fieldset{
	background-color: #e3dcdc;
	margin-bottom: 10px;
}

.input-comment input{
	outline: none;
	padding: 5px 10px;
	background-color: #fff;
	font-family: Helvetica;
	border: solid 3px #e8e8e8;
	border-radius: 5px;
	transition: all 0.5s;
}

.input-comment input:focus{
	background-color: white;
	border: solid 3px #0B8389;
	transition: all 0.5s;
}


.input-comment label{
	display: block;
	margin-top: 10px;
}

.input-comment textarea{
	width: 99%;
	outline: none;
	padding: 5px 10px;
	background-color: #fff;
	font-family: Helvetica;
	border: solid 3px #e8e8e8;
	border-radius: 5px;
	transition: all 0.5s;
	box-sizing: border-box;
}

.input-comment textarea:focus{
	background-color: white;
	border: solid 3px #0B8389;
	transition: all 0.5s;
}

.input-comment button{
	background-color: #0eeb42;
	color: white;
	padding: 7px 15px;
	border-radius: 7px;
	margin-top: 10px;
	border: none;
	cursor: pointer;
	font-family: inherit;
}

.input-comment button:hover{
	opacity: 0.8;
}

.comments{
	background-color: white;
	padding-bottom: 8px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.comments h4{
	padding: 8px 8px 8px 10px;
	background-color: #afe8a2;
}

.comments p{
	text-align: left;
	/*padding: 5px;*/
	padding-left: 10px;
	padding-right: 10px;
}

#komentar h3{
	background: linear-gradient(to right, #1cb5e0, #000046);
	color: white;
	display: inline-block;
	padding: 10px 20px;
	margin: 0;
	border-bottom-right-radius: 10px; 
	margin-bottom: 15px;
	font-size: 25px;
	min-width: 300px;
	text-align: center;
}

#komentar hr{
	margin: 0;
	border: solid 1px #0F6177;
}