body { 
	background: #ececec;
	animation: fadeIn 3s;
	font-family: Helvetica;
}

@keyframes fadeIn{

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
		}
	}

.header{
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	background: linear-gradient(to right, #1cb5e0, #000046);
}

#font-forum{
	top: 12px;
	left: 40px;
	font-size: 22px;
	font-family: Rubik,Lato,lucida grande,lucida sans unicode,Tahoma,Sans-Serif;
	font-weight: bold;
	position: absolute;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

#font-forum:hover{
	background: -webkit-linear-gradient(to right, #e8a71c, #ff24e5);
	background: linear-gradient(to right, #e8a71c, #ff24e5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


#searchbox{
	top: 12px;
	left: 350px;
	width: 325px;
	height: 20px;
	position: absolute;
	outline: none;
	padding: 7px 40px 7px 15px;
	background-color: #efefef;
	font-family: Helvetica;
	border: solid 1px #efefef;
	border-radius: 20px 20px;
	transition: all 0.5s;
}

#searchbox:focus{
	background-color: white;
	border: solid 2px #0B8389;
	transition: all 0.5s;
}

#buttonCari{
	top: 15px;
	left: 745px;
	position: absolute;
}

.search button{
	background-color: #36a5f4;
	color: white;
	padding: 7px 15px;
	border-radius: 7px;
	margin: 0;
	border: none;
	cursor: pointer;
	font-family: inherit;
}

.search button:hover{
	background: linear-gradient(to right, #e8a71c, #ff24e5);
}

#img-User{
	width: auto;
	height: 50px;
	left: 965px;
	top: 6px;
	position: absolute;
	transition: opacity 0.2s ease;
}

#font-User{
	top: 12px;
	left: 1020px;
	font-size: 22px;
	font-family: Rubik,Lato,lucida grande,lucida sans unicode,Tahoma,Sans-Serif;
	font-weight: bold;
	position: absolute;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
#font-User:hover{
	background: -webkit-linear-gradient(to right, #e8a71c, #ff24e5);
	background: linear-gradient(to right, #e8a71c, #ff24e5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}

#daftar:hover{
	opacity: 0.8;
	animation: fadeIn 1s;
}

#logout{
	top: 12px;
	left: 1250px;
	height: 20px;
	width: 40px;
	position: absolute;
	font-size: 13px;
	font-family: "Montserrat",sans-serif;
	font-weight: bold;
	background-color: #244B9C;
	color: #fff;
	border: 2px solid #244B9C;
	padding: 6px 15px 4px 15px;
	border-radius: 20px;
	text-decoration: none;

	letter-spacing: -0.02em;
	display: inline-block;
	cursor: pointer;
}

#logout:hover{
	background: linear-gradient(to right, #e8a71c, #ff24e5);
	border: 2px solid #ff00c3;
}

.container{
	width: 1100px;
    margin: 0 auto;
    text-align: left;
    position: relative;
    z-index: 2;
}

.box{
	float: left;
	width: 24%;
	height: auto;
	border-radius: 15px;
	background: linear-gradient(-45deg,#f403d1,#64b5f6);
	text-align: center;
	padding: 30px 20px;
	position: relative;
	box-sizing: border-box;
	display: block;
	font-family: 'Roboto', sans-serif !important;
	color: #fff;
	word-wrap: break-word;
	margin: 5px;
}
.box::before{
/*	content: '';*/
 	position: absolute;
 	bottom: 0;
 	left: 0;
 	width: 100%;
 	height: 40%;
 	background: rgba(255, 255, 255, .1);
 	z-index: 1;
 	-webkit-transform: skewY(-5deg) scale(1.5);
        transform: skewY(-5deg) scale(1.5);
}
.box:hover{
	-webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.box:nth-child(even) {
	background: linear-gradient(-45deg,#f403d1,#64b5f6);
}
.box:nth-child(odd) {
	background: linear-gradient(-45deg,#24ff72,#9a4eff);
}

.box a{
	text-decoration: none;
	color: #fff;
}
.box a:hover{
	border-bottom: 2px solid #52adf2;
}

.box #edit{
	padding: 5px;
	margin-right: 5px;
	font-weight: bold;
}

.box #edit:hover{
	color: #ffe033;
}

.box #hapus{
	padding: 5px;
	margin-left: 5px;
	font-weight: bold;
}

.box #hapus:hover{
	color: #ff2b2b;
}

.title{
	width: 100%;
	height: 135px;
	background: linear-gradient(to right, #1cb5e0, #000046);
	position: relative;
	text-align: center;
	color: #fff;
	margin-bottom: 15px;
}

.title h1{
	font-family: Helvetica;
	padding: 15px 0px 5px 0px;
}

.title button{
	background-color: #ff4a00;
	color: #fff;
    font-weight: 700;
    /*text-transform: uppercase;*/
    margin: 10px 0 0 0;
    font-size: 1em;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    border-radius: 3px;
}

.title button:hover{
	-webkit-transform: scale(1.1);
            transform: scale(1.1);
}



